/* h1 {
    background-color: blue;
    color: azure;
}

h2 {
    color: blue;
}

li {
    color: brown;
}

li li {
    color: green;
}

.fundo-verde li {
    background: lightgreen;
}

.fundo-verde + #sublista-1 li{
    color: black;
}

.fundo-azul li{
    background: lightblue;
}

div p {
    background: lightblue;
}

div > p {
    color: red
} */

/* div + p {
    color: tomato;
} */

/* div ~ p {
    color: tomato;
} */

/* body {
    background: lightgreen
} */


#pre-definidas {
    color: tomato;
}

#current-color {
    color: olivedrab;
    border: 1px solid currentColor;
}
#hex {
color: #a12020;
}

#hex-transp {
    background: #a1202080
}

#rgb {
    color: rgb(73, 30, 102);
}

#rgba {
    background: rgba(73, 30, 102, 0.3);
}

#hsl {
    color: hsl(280, 78%, 50%);
}

#hsla{
    background: hsl(280, 78%, 50%, .6);
}

